@font-face {
  font-family: "ShrikhandRegular";
  src: url("assets/fonts/ShrikhandRegular.eot");
  src: url("assets/fonts/ShrikhandRegular.eot") format("embedded-opentype"),
    url("assets/fonts/ShrikhandRegular.woff2") format("woff2"),
    url("assets/fonts/ShrikhandRegular.woff") format("woff"),
    url("assets/fonts/ShrikhandRegular.ttf") format("truetype"),
    url("assets/fonts/ShrikhandRegular.svg#ShrikhandRegular") format("svg");
}

body {
  background-color: papayawhip;
}

.can-grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

h1 {
  font-family: "ShrikhandRegular";
  color: hotpink;
  font-size: 8em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas-container {
  flex: 1;
  border: 5px solid #fff;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
